body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: rgb(109, 44, 228);
}

.category-aktif {
  background-color: rgb(109, 44, 228);
  color: white;
}

.resp{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.fn{
  font-family: 'Kaushan Script', cursive;
  font-family: 'Merienda', cursive;
}


@media only screen and (max-height:1000px)
{
  .hasil{
    height: 450px;
  }
  .menu{
    height: 850px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

.btn-primary{
  background-color: rgb(109, 44, 228);
  border-radius: 15px;
  color: white;
}
.btn-primary:hover{
  background-color: rgb(79, 41, 150);
  border-radius: 15px;
  color: white;
}

.bot{
  margin-bottom: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
